In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
# Solution :-

import pandas as pd
list=[4,8,15,16,23,42]
ser=pd.Series(list)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
#sol:-
l=[1,2,3,4,5,6,7,8,9,10]
ser=pd.Series(l)

In [3]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
df1=pd.read_excel('Sample.xlsx')

In [5]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
type(df1)

pandas.core.frame.DataFrame

In [7]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''
pandas series is one dimensional and Homogenous – Series elements must be of the same data type.	
Size-immutable – Once created, the size of a Series object cannot be changed 

pandas data frame is two dimmensional and 	Heterogenous – DataFrame elements can have different data types.
and Size-mutable – Elements can be dropped or added in an existing DataFrame.'''

#pandas.Series using dictionary
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

In [15]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

'''solution :-
1 .
Read Data
We can read data in pandas data frame as read_csv(). Two most used data read formats are csv and excel. 
If we are reading data in excel format, we can also give sheet names as follows. There are other less used options of other file types too.

'''
df2=pd.read_excel('Sample.xlsx')


'''
2. Head and Tail
To see the data frame we can use df.head(). Head returns the first rows, if no input is given it will always show above 5 rows.
In contrast to see below rows, we can use df.tail().
'''
df2.head(3)
df2.tail(3)


'''3. Shape, Size and Info

Two most basic functions after reading data is to know the number of rows and columns, and to know the datatype of variables. 
We can use df.shape, it gives a total number of rows and then columns. df.size() returns the number of rows times number of columns in the data frame. 
We can also use df.info(), from that we get different information such as rows from RangeIndex, Data columns and then data type of each column.
It also includes the information of non-null counts.
'''
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [16]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Solution :- All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.
Series is size immutable. Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.
'''

'Q6. Which of the following is mutable in nature Series, DataFrame, Panel?\nSolution :- All Pandas data structures are value mutable (can be changed) and except Series all are size mutable.\nSeries is size immutable. Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.\n'